.container{
    width:500px;
    height: 200px;
    background-color: aliceblue;
    text-align: center;
    margin:0 auto;
    border: 1px solid black;

}
.container .operations-block button{
    margin: 20px;
    width:40px;
    height:40px;
   
}

label{
    display: block;
}
.container .input-block .input-number{
    display: inline-block;
    margin: 20px;
}